{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block body %}

<body class="home">
    <!-- Main Content Starts -->
<section class="container-fluid main-container container-home p-0 revealator-slideup revealator-once revealator-delay1">
    <div class="color-block d-none d-lg-block"></div>
    <div class="row home-details-container align-items-center">
        <div class="col-lg-4 bg position-fixed d-none d-lg-block">
        </div>
        <div class="col-12 col-lg-8 offset-lg-4 home-details text-left text-sm-center text-lg-left">
            <div>
                {% for home in homes %}
                    <img src="{{home.home_obj.image.url}}" class="img-fluid ssmain-img-mobile d-none d-sm-block d-lg-none" alt="my picture" />
                    <h1 class="text-uppercase poppins-font">I'm {{home.home_obj.first_name}} {{home.home_obj.last_name}}.<span>{{home.work_as}}</span></h1>
                    <p class="open-sans-font">{{home.description}}</p>
                {% endfor %}
                <a class="button" href="{% url 'about' %}">
                    <span class="button-text">more about me</span>
                    <span class="button-icon fa fa-arrow-right"></span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Main Content Ends -->
</body>

{% endblock body %}